// Overwrit default Bootstrap css

// Colors
$primary: #038AFF;
$secondary: #7A89A0;
$light: #c6cad0;
$dark: #161348;
$success: #5CCAA7;
$warning: #FDBE3D;

// Border radius
$border-radius: 0.75rem;
$border-radius-sm: 0.3rem;
$border-radius-lg: 1rem;

@import "node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Your custom styles and variable overrides below

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.65rem;
}

.container {
    max-width: 1140px;
}
