// Overwrit default Bootstrap css

// Colors
$primary: #038aff;
$secondary: #7a89a0;
$dark: #161348;
$success: #5ccaa7;
$warning: #fdbe3d;

// Override Bootstrap muted text color
.text-muted {
  color: red !important;
}


// Border radius
$border-radius: 0.75rem;
$rounded-sm: 0.5rem;
$border-radius-lg: 1rem;


@import "node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

// Your custom styles and variable overrides below

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.65rem;
}

.fw-regular {
  font-weight: 600;
}

.container {
  max-width: 1140px;
}

.hr-gradient {
    border-color: $secondary;
    border-image-source: linear-gradient(90deg,rgba(122, 137, 160, 0) 0%, rgba(122, 137, 160, 1) 50%, rgba(122, 137, 160, 0) 100%);
    border-image-slice: 1;
}

// AWARD HOVER EFFECT
.award {
  transition: 0.6s ease-in;
  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35) !important;
    transition: 0.6s ease-out;
  }
}

// CUSTOM VIDEO BTN
.custom-play-btn {
  transition: 0.6s ease-in;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35) !important;
    transition: 0.6s ease-out;
  }
}

// CUSTOM ACCORDION BTN
.accordion-button::after {
  background-image: none !important; 
  content: "+";
  font-size: 1.2rem;
  font-weight: bold;
  color: $secondary;
  transition: none !important;
}

.accordion-button:not(.collapsed)::after {
  content: "–"; 
  transform: rotate(-180deg);
  margin-right: 10px;
}

.accordion-button::after {
  transition: none !important;
}

@include media-breakpoint-down(xl) {
  .container {
    max-width: 900px;
  }
}

@include media-breakpoint-down(lg) {
  .container {
    max-width: 700px;
  }
  .row-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
